[run]
branch = True

[report]
omit =
    */python?.?/*
    */pypy-?.?.?/*
    */pypy3-?.?.?/*
    */site-packages/*
    */tests/*
    */funcsigs/*
    */mock/*
    */parameterized/*
    */pbr/*
    */six.py